<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaizBlog</title>
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/css/homeStyles.css">
  </head>
  <body>
    <header>
      <div class="header-content">
        <div class="logo">
          <h1>Maiz<b>Blog</b></h1>
        </div>
        <div class="mssg">
          <h1>Descubre Nuevas <b>Cosas</b></h1>
        </div>
      </div>
    </header>
    <div class="container-all">
      <div class="container-cover">
        <div class="container-info-cover">
          <h1>"Toda la gloria del munco cabe en un grano de maiz..."</h1>
          <p>José Martí</p>
        </div>
      </div>
    </div>
    <div class="container-content">
      <div class="row justify-content-center align-items-center">
        <!--Carta 1-->
        <div class="col-sm-6 col-md-6 mb-4">
          <div class="card h-100">
            <img src="../resources/img/Card 1.jpg" class="card-img-top" alt="Placeholder">
            <div class="card-body">
              <h5 class="card-title">Informacion General Sobre el Maiz</h5>
              <p class="card-text">Aqui podras conocer un poco mas sobre el maiz, puede que te guste lo que encontraras.</p>
              <a href="maices" class="btn btn-primary">Ver mas...</a>
            </div>
          </div>
        </div>
        <!--Carta 2-->
        <div class="col-sm-6 col-md-6 mb-4">
          <div class="card h-100">
            <img src="../resources/img/Card 2.jpg" class="card-img-top" alt="Placeholder">
            <div class="card-body">
              <h5 class="card-title">Tipos de Maiz en Guatemala</h5>
              <p class="card-text">Aqui podras conocer los diferentes tipos de maiz que existen en Guatemala y algunos significados de los mismos.</p>
              <a href="tipos" class="btn btn-primary">Ver mas...</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center align-items-center">
        <!--Carta 3-->
        <div class="col-sm-6 col-md-6 mb-4">
          <div class="card h-100">
            <img src="../resources/img/Card 3.jpg" class="card-img-top" alt="Placeholder">
            <div class="card-body">
              <h5 class="card-title">Producción de Maiz por Departamento</h5>
              <p class="card-text">Aqui podras conocer que departamentos son los mayores productores de Guatemala.</p>
              <a href="depts" class="btn btn-primary">Ver mas...</a>
            </div>
          </div>
        </div>
        <!--Carta 4-->
        <div class="col-sm-6 col-md-6 mb-4">
          <div class="card h-100">
            <img src="../resources/img/Card 4.jpg" class="card-img-top" alt="Placeholder">
            <div class="card-body">
              <h5 class="card-title">Algunos Origenes</h5>
              <p class="card-text">Aqui encontraras las diferentes historias sobre el origen del maiz en Guatemala.</p>
              <a href="origin" class="btn btn-primary">Ver mas...</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">

        </div>
        <div class="col">
          
        </div>
      </div>
    </div>
    <div class="container-footer">
      <footer>
        <div class="logo-footer">
          <img src="../resources/img/LogoFooter.png" alt="">
        </div>
        <hr>
        <h5>luiscifuentes202030482@cunoc.edu.gt</h5>
        <h5>202030482</h5>
      </footer>
    </div>
  </body>
</html>